@import '../_vars';

.mainHeader {
    flex: 1;
    height: 58px;
    background-color: $mobileHeader;
    display: flex;
}

#mainLogo {
    width: 34px;
    height: 36px;
    align-self: center;
    margin-left: 12px;
    background-color: $white;
    border-radius: 50%;
    padding: 5px 6px;
}

.navIcon {
    position: absolute;
    right: 18px;
    top: 16px;
    cursor: pointer;
    z-index: 10;
}

.navIcon div {
    width: 25px;
    height: 4px;
    border-radius: 3px;
    background-color: $white;
    margin-bottom: 6px;
}

@include desktop {
    .mainHeader {
        height: auto;
        background: none;
        z-index: 10;
    } 

    #mainLogo {
        width: 90px;
        height: 98px;
        margin-left: 97px;
        margin-top: 22px;
        border-radius: 50%;
        padding: 7px 9px 2px 9px;
    }

    .navIcon {
        display: none;
    }

}