@import '_vars';

.maxBox, .drewBox {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 58px;
    width: 100%;
    background-color: $white;
}

.maxBox {
    background-image: url(../images/des_bg.png);
}

.drewBox {
    background-image: url(../images/dev_bg.png);
}

.boxInfo {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 24px;
}

.socialLinks {
    margin-top: 24.8px;
    margin-left: 21px;
    display: inline-block;
    height: 30px;
}

.link {
    width: 24px;
    height: 24px;
}

.myJob {
    height: 30px;
    font-size: 1.5em;
    float: right;
    margin-right: 20px;
    margin-top: 30px;
    font-weight: bold;
    opacity: .34;
}

.myName {
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.main-carousel {
    width: 100%;
}

.maxCell {
    width: 50%;
    margin-right: 30px;
    counter-increment: carousel-cell;
}

.maxCellImg {
    margin-right: 20px;
    border-radius: 12px;
    max-width: 100%;
}

.carousel-cell:before {
    display: block;
}

.vidBox {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.vid {
    margin: 0 auto;
    border-radius: 30px;
    height: 40%;
}

.exit {
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #000;
    opacity: .6;
    padding: 10px 15px;
}

.exit:hover {
    opacity: 1;
    cursor: pointer;
}


@include desktop {
    .maxBox, .drewBox {
        background-repeat: no-repeat;
        background-size: cover;
        top: 0px;
    }

    .maxBox {
        background-image: url(../images/des_bg_d.jpg);
    }
    
    .drewBox {
        background-image: url(../images/dev_bg.jpg);
    }

    .boxInfo {
        margin-bottom: 24px;
        margin-top: 150px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .socialLinks {
        height: 30px;
        width: 50%;
        order: 2;
        flex: 1;
        justify-self: end;
        margin-left: 30%;
    }
    
    .link {
        width: 40px;
        height: 40px;
        margin-right: 8px;
        transition: .2s all;
    }

    .link:hover {
        opacity: .5;
    }

    .myJob {
      order: 3;
      width: 100%;
      color: $white;
      font-size: 2.6em;
      margin-left: 50px;
      margin-bottom: 48px;
    }
    
    .myName {
        width: 50%;
        order: 1;
        flex: 1;
        color: $white;
        font-weight: initial;
        font-size: 2.8em;
        margin-left: 10%;
    }

    .main-carousel {
        width: 25%;
        margin-left: 15%;
    }
    
    .maxCell {
        width: 100%;
    }

    .vidBox {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .vid {
        margin: 0 auto;
        border-radius: 30px;
        height: 300px;
        width: 450px
    }

    .exit {
        top: 40px;
        right: 45px;
        color: #555;
        font-size: 1.2em;
        z-index: 20;
    }
}
