@import '_vars';

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.designer, .developer {
    flex: 1;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.designer {
    background-image: url("../images/des_bg.png");
}

.developer {
    background-image: url("../images/dev_bg.png");
}

.content img {
    flex: 1;
    width: 42%;
    height: 42%;
    border-radius: 100%;
    border: #999 1px solid;
    margin-top: 30px;
    margin-bottom: 45px;
}

.desInfo, .devInfo {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desProf {
    margin-left: 20px;
}

.devProf {
    margin-right: 20px;
    order: 2;
}

.desInfo {
    text-align: right;
}

.devInfo {
    text-align: left;
}

.jobTitle {
    font-size: 1.625em;
    font-weight: bold;
    opacity: 0.34;
    flex: 1;
    margin-top: 15%;
}

.name {
    flex: 1;
    font-size: 1em;
    font-weight: bold; 
}

.works {
    margin-bottom: 15%;
    width: 98px;
    height: 38px;
    border-radius: 38px;
    border: #333 solid 1px;
    background-color: $butGreen;
}

.works:hover {
    cursor: pointer;
    background-color: #36A268;
}


@include desktop {
    .content {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 0;
        background-image: url("../images/content_bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
    }

    .designer, .developer {
        background: none;
        flex-direction: column;
        align-items: center;
    }

    .content img {
        flex: 1;
        height: auto;
        width: 320px;
        border-radius: 38%;
        border: none;
        margin-top: 260px;
        margin-bottom: 0px;
        order: 0;
    }

    .desInfo, .devInfo {
        flex: none;
        display: block;
        text-align: center;
        width: 100%;
    }

    .jobTitle {
        font-size: 3.8em;
        opacity: 0.34;
        flex: 1;
        color: $white;
        transform: translateY(-390px);
        margin-top: -25px;
    }

    .name {
        font-size: 2.5em;
        font-weight: initial; 
        color: $white;
    }

    .works {
        margin-bottom: 120px;
        margin-top: 50px;
        width: 168px;
        height: 50px;
        border-radius: 38px;
        border: $butGreen2 solid 4px;
        background: none;
        color: $butGreen2;
    }

    .works:hover {
        background-color: rgb(68, 68, 68);
    }

    .cs1 {
        color: #15D52E;
    }

    .cs2 {
        color: #F61111;
    }

    .cs3 {
        color: #E9D905;
    }
}